@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --icon-color: black;
  --icon-size: 19px;
  --brdrds-border-radius: 15px;
  --primary-color: #211c84;
  --secondary-color: #4d55cc;
  --accent-color: #7a73d1;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img,
.cart,
.login,
.custom-carousel-item {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.modal:not(.show) {
    visibility: hidden;
    opacity: 0;
}

.header h4 {
  margin: 0 !important;
}

.header img {
  width: 35px;
  object-fit: contain;
}

.logo {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.header-content-mobile,
.header-content-pc {
  gap: 25px;
  margin-right: 10px;
  align-items: center;
}

header i {
  font-size: 18px;
}

header .login {
  border-radius: 20px;
  padding: 7px;
  position: relative;
  border: none !important;
}

header h4 {
  color: var(--secondary-color);
}

.searchBox {
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #e5e5ff;
  border-radius: 20px;
  height: 45px;
  position: relative;
  caret-color: deepskyblue;
  color: black;
  width: 300px;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
  border: 0;
  display: inline-block;
  transition: all 100ms cubic-bezier(.23, 1, 0.32, 1);
}

.searchButton img {
  width: 20px;
}

.searchButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-1.8px);
}

.searchButton:active {
  box-shadow: none;
  transform: translateY(0);
}

.search-pc {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  color: black;
  padding: 24px 46px 24px 26px;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  justify-content: center;
}

.search_mobile {
  width: 95%;
  height: 50px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 1.5px solid var(--primary-color);
  border-radius: 10px;
  outline: none;
  background-color: white;
  color: #0d0c22;
  transition: .3s ease;
  margin: 0px 0;
  font-size: 19px;
  caret-color: blue;
}

.icon {
  position: absolute;
  left: 1rem;
  width: 1.4rem;
  height: 1.4rem;
}

aside {
  width: 70%;
  height: auto;
  border-radius: var(--brdrds-border-radius);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 -5px 10px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  margin: 5px;
  padding: 8px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 65px;
  z-index: 10;
  display: none;
  overflow-y: scroll;
}

aside a {
  color: black;
  font-size: 15px;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  color: var(--primary-color);
}

aside a:hover {
  background-color: cornflowerblue;
  font-weight: 600;
  border-radius: 5px 20px 20px 5px;
  color: white;
  border-left: 3px solid var(--secondary-color);
}

aside i {
  margin-right: 7px;
  font-size: 20px;
}

.asideToggle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.animate__slideInRight {
  transition-duration: 0.3s !important;
  animation-duration: 0.3s !important;
}

.search .placeholder {
  color: gray;
}

.group {
  position: relative;
  z-index: 2;
}

#loader-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: fixed;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  z-index: 1000;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  --c: #0000 calc(100%/3), #4caf50 0 calc(2*100%/3), #0000 0;
  --c1: linear-gradient(90deg, var(--c));
  --c2: linear-gradient(0deg, var(--c));
  background: var(--c1), var(--c2), var(--c1), var(--c2);
  background-size: 300% 4px, 4px 300%;
  background-repeat: no-repeat;
  animation: l11 1s infinite linear;
}

.loader:after {
  margin: 10px;
  transform: scaleX(-1);
  animation-delay: -.25s;
}

@keyframes l11 {
  0% {
    background-position: 50% 0, 100% 100%, 0 100%, 0 0
  }
  
  25% {
    background-position: 0 0, 100% 50%, 0 100%, 0 0
  }
  
  50% {
    background-position: 0 0, 100% 0, 50% 100%, 0 0
  }
  
  75% {
    background-position: 0 0, 100% 0, 100% 100%, 0 50%
  }
  
  75.01% {
    background-position: 100% 0, 100% 0, 100% 100%, 0 50%
  }
  
  100% {
    background-position: 50% 0, 100% 0, 100% 100%, 0 100%
  }
}


.placeholder {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  transform: translateY(-50%);
  color: grey;
  font-size: 1rem;
  white-space: nowrap;
  user-select: none;
  background: none !important;
  pointer-events: none;
}

.placeholder_slideout {
  animation: placeholder_slideout 0.3s forwards;
}

.placeholder_slidein {
  animation: placeholder_slidein 0.3s forwards;
}

.cart,
.login,
.nav {
  cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-moz-search-cancel-button {
  display: none;
}

main {
  background-color: ghostwhite;
  width: 100%;
  height: calc(100vh - 80px);
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  top: 80px;
  z-index: 5;
}

.category {
  padding: 10px;
  box-sizing: border-box;
}

.category-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.cat-description {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.cat-description img {
  display: block;
  width: 100px;
  height: auto;
}

.cat-description b {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.featured-brand {
  margin: 20px 8px;
}

.featured-brand img {
  width: 100%;
  height: auto;
  border-radius: var(--brdrds-border-radius);
}

.discount-sec {
  margin: 45px 8px;
  width: 95%;
  background-color: #CC6AAF;
  border-radius: var(--brdrds-border-radius);
  padding: 10px;
  position: relative;
  z-index: 5;
}

.discount-sec a {
  text-decoration: none;
  color: black;
}

.discount-sec::before {
  position: absolute;
  content: "Home decor & Furnishings";
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  color: white;
  padding-top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #C92197;
  z-index: -1;
  border-radius: var(--brdrds-border-radius);
}

.discount-grid {
  width: 100%;
  margin: 60px auto 15px auto;
  background-color: white;
  border-radius: 17px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.discount {
  font-weight: 500;
  font-size: 17px;
}

.discount-grid img {
  width: 100%;
  height: 170px;
  border-radius: var(--brdrds-border-radius);
  object-fit: cover;
}

.discount-grid .gridItem {
  background-color: antiquewhite;
  border-radius: var(--brdrds-border-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discount-grid .product-info {
  padding: 15px;
}

.discount-grid .product-name {
  margin-top: 5px;
}

.mob-searchBar {
  position: sticky;
  z-index: 9;
  top: 70px;
}

.auth-login {
  border: none !important;
}

.guest-login {
  border: 1px solid black !important;
}

.login-container {
  position: relative;
}

.profile-tooltip {
  position: absolute;
  width: auto;
  min-width: 200px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  top: 104%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  text-align: center;
}

.profile_name {
  font-size: 18px;
  font-weight: bold;
}

.prof_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
  color: black;
  padding: 10px;
}

#top-picks {
  width: 95%;
  height: 240px;
  border-radius: var(--brdrds-border-radius);
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5), 0 -6px 6px -6px rgba(0, 0, 0, 0.5);
  overflow-x: auto;
  margin: 25px 8px;
  display: flex;
  gap: 5px;
  align-items: center;
  scroll-snap-type: x mandatory;
  /* Correct scroll snap type */
  scroll-behavior: smooth;
  background-image: linear-gradient(310deg,
      hsl(266deg 76% 63%) 0%,
      hsl(266deg 71% 61%) 10%,
      hsl(266deg 67% 60%) 18%,
      hsl(266deg 64% 58%) 25%,
      hsl(267deg 61% 56%) 31%,
      hsl(267deg 58% 54%) 36%,
      hsl(267deg 55% 52%) 40%,
      hsl(267deg 52% 51%) 44%,
      hsl(268deg 52% 49%) 47%,
      hsl(268deg 54% 47%) 50%,
      hsl(268deg 55% 45%) 54%,
      hsl(268deg 57% 44%) 57%,
      hsl(269deg 59% 42%) 60%,
      hsl(269deg 61% 40%) 63%,
      hsl(269deg 63% 38%) 67%,
      hsl(269deg 65% 37%) 71%,
      hsl(270deg 68% 35%) 76%,
      hsl(270deg 71% 33%) 82%,
      hsl(271deg 75% 31%) 89%,
      hsl(271deg 80% 29%) 100%);
      margin-bottom: 20%;
}

.top-picks-container {
  border-radius: 15px;
  position: relative;
  width: 185px;
  height: 210px;
  flex-shrink: 0;
  overflow: hidden;
  scroll-snap-align: start;
  padding: 0;
  box-sizing: border-box;
  margin: 10px;
}

.top-picks-container a {
  text-decoration: none;
  color: white;
}

.top-picks-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 10px;
}

.top-picks-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px;
  margin-left: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: black;
  color: white;
  text-align: center;
  overflow: hidden;
}

.search-suggestions {
  position: absolute;
  width: 95%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  gap: 10px;
  z-index: 2000;
}

.search-suggestions.active {
  display: block;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.suggestion-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.prod-viewAll {
  border: 1px solid black;
  padding: 10px;
  margin-left: auto;
  margin-bottom: 10px;
  width: fit-content;
  border-radius: 20px;
  margin-right: 10px;
}

.prod-viewAll-link {
  text-decoration: none;
}

.prod-viewAll-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-viewAll-text {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.cart {
  position: relative;
  font-size: 1.4rem;
}

.cart-badge {
  position: absolute;
  top: -3px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
}

@keyframes placeholder_slideout {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  
  to {
    transform: translateY(5px);
    opacity: 0;
  }
}

@keyframes placeholder_slidein {
  from {
    transform: translateY(-25px);
    opacity: 0.4;
  }
  
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 15px;
  min-width: 180px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.scroll-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.scroll-item b {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.scroll-item:hover {
  transform: translateY(-5px);
}

.footer-20192 {
    position: relative;
    color: white;
    padding: 7rem 0;
    background-color: #141d2a;
    margin-top: 75px;
}

.footer-20192 .container {
    position: relative;
}

.footer-20192 h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.5;
}

.footer-20192 .links li {
    margin-bottom: 10px;
    line-height: 1.5;
    display: block;
}

.footer-20192 .links li a {
    color: #666873;
}

.footer-20192 .links li a:hover {
    color: #fff;
}

.footer-20192 .social li {
    display: inline-block;
    position: relative;
}

.footer-20192 .social li a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #8186d5;
    color: #fff;
}

.footer-20192 .social li a > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-20192 .footer-logo {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.footer-20192 .copyright {
    color: #666873;
}

.footer-20192 .cta {
    box-shadow: -20px -20px 0 0 rgba(20, 29, 42, 0.2); 
    padding: 20px;
    background-color: #8186d5;
    top: -150px;
    position: relative;
}

.footer-20192 .cta h2,
.footer-20192 .cta h3 {
    line-height: 1.5;
}

.footer-20192 .cta h3 {
    font-size: 20px;
}

.top-picks-h1 {
  margin-left: 8px;
}

.auth-alert {
    width: 70%; 
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--primary-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 10%;
    left: 20%;
    z-index: 999;
    display: none;
}

.auth-alert > h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.auth-alert > p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.auth-alert i {
  margin-left: 90%;
  margin-bottom: 5px;
}

.auth-alert .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-alert .buttons button {
    flex: 1;
    padding: 12px;
    margin: 5px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.auth-alert .buttons .signup {
    background: #ff5757;
    color: white;
}

.auth-alert .buttons .signup:hover {
    background: #ff3838;
}

.auth-alert .buttons .guest {
    background: transparent;
    color: #fff;
    border: 2px solid white;
}

.auth-alert .buttons .guest:hover {
    background: white;
    color: #222;
}

/* for small phones*/
@media (max-width: 320px) {}

/* mobile */
@media (max-width: 576px) {
  .header-content-pc {
    display: none;
  }
  
  .header-content-mobile {
    display: flex;
  }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 768px) {
  .header-content-mobile {
    display: none;
  }
  
  .header-content-pc {
    display: flex;
    margin-right: 25px;
    gap: 20px;
  }
  
  .logo {
    margin-left: 40px;
  }
  
  .group {
    display: none;
  }
  
  aside {
    width: 40%;
  }
  
  main {
    margin: 0px;
  }
  
  .discount-sec {
    margin: 50px auto;
    width: 80%;
  }
  
  .featured-brand img {
    width: 350px;
  }
  
  .featured-brand {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5), 0 -6px 6px -6px rgba(0, 0, 0, 0.5);
  }
  
  .discount-grid {
    grid-template-columns: 40% 40%;
    column-gap: 20%;
    padding: 0 40px;
  }
}

/* For PCs/Laptops */
@media (min-width: 768px) {
  .header-content-mobile {
    display: none;
  }
  
  .header-content-pc {
    display: flex;
    gap: 20px;
  }
  
  .searchBox {
    width: 60%;
    margin-left: -30px;
  }
  
  .logo {
    margin-left: 40px;
  }
  
  .group {
    display: none;
  }
  
  aside {
    width: 30%;
  }
  
  aside a {
    font-size: 20px;
  }
  
  main {
    margin: 0px;
  }
  
  .discount-sec {
    margin: 10px;
    width: 100% !important;
  }
  
  .discount-grid {
    grid-template-columns: repeat(3, 2fr) !important;
  }
  .featured-brand img {
    width: 30%;
  }
  
  .featured-brand {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5), 0 -6px 6px -6px rgba(0, 0, 0, 0.5);
  }
  
  .discount-grid {
    grid-template-columns: 40% 40%;
    column-gap: 5%;
    padding: 0 40px;
    width: 80%;
    margin: 55px auto;
  }
  
  .discount-grid img {
    width: 100%;
    height: auto;
  }
  
  .discount-sec {
    width: 60%;
  }
  
  .discount-sec::before {
    font-size: 26px;
  }
  #top-picks {
    margin-bottom: 5%;
  }
 
  .discount-grid .gridItem {
    width: auto;
    margin: auto;
  }
  
  .search-suggestions {
    width: 50%;
    margin: auto;
  }
}

/* Modal body style */
.modal-body {
    padding: 30px;
    font-size: 1rem;
    color: #333;
}

/* Modal footer style */
.modal-footer {
    border-top: 2px solid #e0e0e0;
    padding: 15px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
}

/* Button styles */
.modal-footer .btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.modal-footer .btn-primary {
    background-color: var(--secondary-color);
    border: none;
}

.modal-footer .btn-primary:hover {
    background-color: var(--accent-color);
}

.modal-footer .btn-secondary {
    background-color: var(--secondary-color);
    border: none;
}

.modal-footer .btn-secondary:hover {
    background-color: var(--accent-color);
}
