@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
--primary-color: #211c84;
--secondary-color: #4d55cc;
--accent-color: #7a73d1;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.pc-left {
display: none;
}
header, header * {
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
width: 100%;
padding: 10px;
background-color: white;
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: normal;
}
header i {
position: absolute;
font-size: 23px;
cursor: pointer;
left: 18px;
top: 50%;
transform: translateY(-50%);
font-size: 24px;
}
.head {
display: flex;
justify-content: center;
align-items: center;
}
header img {
width: 30px;
object-fit: contain;
margin-left: 10px;
}
header h2 {
margin: 0;
}
body {
font-family: Arial, sans-serif;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}
.auth-container {
background-color: white;
padding: 20px;
width: 100%;
max-width: 400px;
text-align: center;
margin-top: 20%;
}
.heading {
font-size: 2rem;
color: #333;
margin-bottom: 10px;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-style: normal;
}
.intro-text {
font-size: 1rem;
color: #666;
margin-bottom: 20px;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}
.auth-form {
margin-bottom: 20px;
display: flex;
flex-direction: column;
justify-content: flex-start;
font-family: "Roboto", sans-serif;
font-weight: 800;
font-style: normal;
}
.form-group {
margin-bottom: 15px;
text-align: left;
}
label {
display: block;
font-size: 1rem;
color: #333;
margin-bottom: 5px;
}
input {
width: 100%;
padding: 10px;
font-size: 1rem;
border: 1px solid var(--primary-color);
border-radius: 4px;
}
button {
width: 100%;
padding: 12px;
background-color: var(--primary-color);
color: white;
font-size: 1rem;
border: none;
border-radius: 4px;
cursor: pointer;
}
.login-btn:hover {
background-color: var(--secondary-color);
}
.forgot-password-link {
align-self: flex-end;
margin: 5px 0;
font-size: 0.9rem;
color: #4CAF50;
text-decoration: none;
}
.forgot-password-link:hover {
text-decoration: underline;
}
.signup-link {
font-size: 0.9rem;
color: #666;
}
.signup-link a {
color: #4CAF50;
text-decoration: none;
}
.signup-link a:hover {
text-decoration: underline;
}
.terms-links {
font-size: 0.8rem;
color: #666;
margin-top: 10px;
}
.terms-links a {
color: #4CAF50;
text-decoration: none;
}
.terms-links a:hover {
text-decoration: underline;
}
.login-with-google-btn {
transition: background-color .3s, box-shadow .3s;
width: 100%;
padding: 12px 16px 12px 42px;
border: 1px solid #ccc;
border-radius: 14px;
margin: 25px 0;
color: #757575;
font-size: 14px;
font-weight: 500;
background-color: white;
background-repeat: no-repeat;
background-position: 12px 11px;
background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=); background-color: white; background-repeat: no-repeat; background-position: 12px 11px;
}
@media (max-width: 768px) {
.pc-left {
display: none;
}
main {
display: flex;
flex-direction: column;
gap: 20px;
}
}
@media (max-width: 480px) {
.auth-container {
padding: 20px;
max-width: 100%;
}
.heading {
font-size: 1.8rem;
}
.intro-text {
font-size: 0.9rem;
}
}
#loader-container {
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.1);
display:none;
justify-content: center;
align-items: center;
z-index: 999;
position: fixed;
}
.loader {
width:50px;
aspect-ratio: 1;
display: grid;
z-index: 1000;
}
.loader:before,
.loader:after {
content: "";
grid-area: 1/1;
--c:#0000 calc(100%/3),#4caf50 0 calc(2*100%/3),#0000 0;
--c1:linear-gradient(90deg,var(--c));
--c2:linear-gradient( 0deg,var(--c));
background: var(--c1),var(--c2),var(--c1),var(--c2);
background-size: 300% 4px,4px 300%;
background-repeat: no-repeat;
animation: l11 1s infinite linear;
}
.loader:after {
margin: 10px;
transform: scaleX(-1);
animation-delay: -.25s;
}
@keyframes l11 {
0%   {background-position: 50%  0,100% 100%,0    100%,0 0}
25%  {background-position: 0    0,100% 50% ,0    100%,0 0}
50%  {background-position: 0    0,100% 0   ,50%  100%,0 0}
75%  {background-position: 0    0,100% 0   ,100% 100%,0 50%}
75.01%{background-position: 100% 0,100% 0   ,100% 100%,0 50%}
100% {background-position: 50%  0,100% 0   ,100% 100%,0 100%}
}
.verification {
border: none;
background: none;
color: red;
font-weight: 500;
font-size: 11px;
margin-left: 10px;
}
.resend_verification {
display: none;
white-space: nowrap;
color: #666;
margin: 15px 0;
cursor: pointer;
}
@media (min-width: 769px) {
.pc-left {
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;
background-image: url('/assets/images/signin-bg.svg');
background-repeat: no-repeat;
background-size: cover;
}
.pc-left h3 {
text-align: center;
margin-top: 40px;
color: var(--accent-color);
}
main {
display: flex;
flex-direction: row-reverse;
gap: 20px;
}
}
.signinAnimation {
width: 300px;
margin: 20px 0;
}
.error {
color: red !important;
}
.or {
position: relative;
height: 1px;
width: 100%;
background: grey;
margin: 20px 0;
}
.or::before {
position: absolute;
content: "OR";
color: grey;
background: white;
padding: 0 5px;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
font-size: 12px;
}
@media screen and (min-width: 1024px) {
.signinAnimation {
width: 400px;
margin: 20px 0;
}
.auth-container {
margin-top: 50px;
padding-top: 20px;
}
}
.modal-body {
padding: 30px;
font-size: 1rem;
color: #333;
}
.modal-footer {
border-top: 2px solid #e0e0e0;
padding: 15px;
background-color: #F7F7F7;
display: flex;
justify-content: space-between;
border-radius: 0 0 15px 15px;
}
.modal-footer .btn {
border-radius: 20px;
padding: 10px 20px;
font-weight: bold;
transition: background-color 0.3s ease;
}
.modal-footer .btn-primary {
background-color: var(--secondary-color);
border: none;
}
.modal-footer .btn-primary:hover {
background-color: var(--accent-color);
}
.modal-footer .btn-secondary {
background-color: var(--secondary-color);
border: none;
}
.modal-footer .btn-secondary:hover {
background-color: var(--accent-color);
}