@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
margin: 0;
padding: 0;
background-color: whitesmoke;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
}
:root {
--primary-color: #211c84;
--secondary-color: #4d55cc;
--accent-color: #7a73d1;
}
.header {
width: 100%;
height: 50px;
background-color: white;
padding: 10px;
box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 10;
border-bottom: 1px solid silver;
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: normal;
}
img,
.cart,
.login,
.custom-carousel-item,
.buy-cart {
cursor: pointer;
}
.header i {
font-size: 25px;
}
.header .bi-arrow-left {
color: gray;
font-size: 25px;
}
.header #product-search-name {
font-size: 18px;
}
.header img {
width: 30px;
object-fit: contain;
}
.left-header,
.right-header {
display: flex;
gap: 15px;
align-items: center;
}
header .login {
background: none;
border-radius: 20px;
padding: 7px;
border: none;
position: relative;
}
.login-container {
position: relative;
}
.profile-tooltip {
position: absolute;
width: auto;
min-width: 200px;
height: auto;
background-color: white;
border-radius: 15px;
padding: 10px;
box-sizing: border-box;
top: 104%;
left: 100%;
transform: translateX(-100%);
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
z-index: 99 !important;
overflow: hidden;
text-overflow: ellipsis;
display: none;
flex-direction: column;
gap: 20px;
padding-top: 30px;
text-align: center;
}
.profile_name {
font-size: 18px;
font-weight: bold;
}
.prof_icon {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
font-size: 25px;
color: black;
padding: 10px;
}
.search .placeholder {
color: gray;
}
.product-view {
display: flex;
flex-direction: column;
gap: 20px;
position: relative;
width: 100%;
height: auto;
}
.error-gateway {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
gap: 5px;
}
.error-gateway a {
text-align: center;
}
.error-gateway img {
width: 200px;
}
.custom-carousel-container {
position: relative;
width: 100%;
max-width: 600px;
margin: 0 auto;
overflow: hidden;
height: 50vh;
}
.custom-carousel {
display: flex;
transition: transform 0.5s ease-in-out;
height: 50vh;
}
.custom-carousel-item {
width: 100%;
object-fit: contain;
height: auto !important;
flex-shrink: 0;
}

.custom-indicators {
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
display: flex;
gap: 10px;
}
.custom-indicator {
width: 10px;
height: 5px;
border-radius: 50px;
background-color: rgba(0, 0, 0, 0.8);
transition: width 0.5s, border-radius 0.5s;
}
.custom-indicator.active {
width: 50px;
border-radius: 5px;
}
.bi-heart, .bi-share, .heart-icon {
position: absolute;
font-size: 24px;
z-index: 5;
background-blend-mode: difference;
}
.bi-heart {
top: 7%;
right: 7%;
}
.details {
padding-top: 40px;
}
.description {
display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 2;
line-clamp: 2;
}
.bi-share {
top: 25%;
right: 7%;
color: gold;
}
.accordion-item,
.accordion-button {
border: none;
background-color: white !important;
font-weight: 700;
font-size: 19px;
}
.accordion-button:focus {
box-shadow: none;
}
.accordion-body {
border-top: none;
}
.rating {
display: flex;
align-items: center;
gap: 5px;
}
#addressContainer {
margin: 0;
}
.attribute-details .row {
align-items: center;
}
.attribute-details a {
text-decoration: none;
color: black;
}
.product-highlight img {
max-width: 100%;
border-radius: 5px;
margin-bottom: 10px;
object-fit: fill;
}
.buy-cart {
display: flex;
justify-content: space-between;
position: sticky;
bottom: 0;
left: 0;
width: 100%;
background-color: white;
border-top: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
z-index: 100;
}
.buy-cart button {
flex: 1;
margin: 0;
}
.buy, .addCart {
border: none;
padding: 15px;
border-radius: 0px;
box-sizing: border-box;
filter: grayscale(100%);
}
.crt {
background-color: white;
}
.buy {
background-color: gold;
border-right: 1px solid grey;
}
.buy:hover {
background-color: var(--primary-color);
}
:focus {
outline: none;
background: none;
}
.third-box {
padding-bottom: 80px;
background-color: white;
}
.heart-icon.favorited {
color: red;
animation: jelly 0.2s ease-out forwards;
top: 7%;
right: 7%;
position: absolute;
}
.cart {
position: relative;
font-size: 1.4rem;
background: none !important;
padding: 0 !important;
}
.cart-badge {
position: absolute;
top: -2px;
right: -5px;
width: 15px;
height: 15px;
border-radius: 50%;
background-color: red;
color: white;
font-size: 0.8rem;
display: flex;
justify-content: center;
align-items: center;
font-style: normal;
}
@keyframes jelly {
from {
transform: scale(1.3);
}
to {
transform: scale(1.2);
}
}
#loader-container {
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.1);
display:none;
justify-content: center;
align-items: center;
z-index: 999;
position: fixed;
}
.loader {
width:50px;
aspect-ratio: 1;
display: grid;
z-index: 1000;
}
.loader:before,
.loader:after {
content: "";
grid-area: 1/1;
--c:#0000 calc(100%/3),#4caf50 0 calc(2*100%/3),#0000 0;
--c1:linear-gradient(90deg,var(--c));
--c2:linear-gradient( 0deg,var(--c));
background: var(--c1),var(--c2),var(--c1),var(--c2);
background-size: 300% 4px,4px 300%;
background-repeat: no-repeat;
animation: l11 1s infinite linear;
}
.loader:after {
margin: 10px;
transform: scaleX(-1);
animation-delay: -.25s;
}
@keyframes l11 {
0%   {background-position: 50%  0,100% 100%,0    100%,0 0}
25%  {background-position: 0    0,100% 50% ,0    100%,0 0}
50%  {background-position: 0    0,100% 0   ,50%  100%,0 0}
75%  {background-position: 0    0,100% 0   ,100% 100%,0 50%}
75.01%{background-position: 100% 0,100% 0   ,100% 100%,0 50%}
100% {background-position: 50%  0,100% 0   ,100% 100%,0 100%}
}
.dropdown-item {
background-color: white !important;
}
#address-view {
display: grid;
grid-template-columns: 75% 1fr;
align-items: center;
width: 100%;
height: auto;
padding: 8px;
box-sizing: border-box;
background-color: white;
margin: 0;
gap: 2px;
}
.current-address {
display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 5;
line-clamp: 5;
}
.ChangeAddr-Btn {
padding: 10px 5px;
border: 1px solid royalblue;
border-radius: 5px;
background-color: whitesmoke;
font-weight: 600;
}
#order-info-box {
width: 100%;
height: 120px;
padding: 10px;
background-color: white;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
}
.order-info-items {
word-wrap: break-word;
white-space: normal;
display: flex;
flex-direction: column;
gap: 4px;
align-items: center;
justify-content: center;
text-align: center;
flex: 1;
}
.order-info-items p {
font-weight: 500;
font-size: 13px;
margin-top: 3px;
}
.order-info-items i {
font-size: 24px;
color: black;
}
.bi-cash-coin {
color: green !important;
}
.product-highlight {
    padding-bottom: 30px;
margin: 0 !important;
}
#product-info section {
margin: 10 0;
background: white;
}
.nameAndDescription {
padding: 10px;
}
.name {
margin-bottom: 10px;
}
.btn-outline-dark {
margin-top: 5px;
}
.modal:not(.show) {
 visibility: hidden;
 pacity: 0;
}
.price-box {
background-color: rgba(0, 255, 0, 0.3) !important;
padding: 20px;
display: flex;
gap: 10px;
position: relative;
margin-top: 20px;
}
.price-box::before {
position: absolute;
content: "Hot Deal";
width: 60px;
height: 20px;
background-color: rebeccapurple;
padding: 4px;
color: white;
font-weight: 900;
top: -10px;
left: 0;
font-size: 10px;
}
.price-box i, .price-box s, .price-box b, .price-box strong {
font-size: 23px;
}
.price-box strong {
color: green;
}
.s2,
.s3,
.s4,
.s6{
margin: 5px 0 !important;
}
.attribute-details i {
font-size: 18px;
}
.accordion-header {
width: 100% !important;
}
.s6 {
padding: 15px;
}
.s6 ul {
color: var(--primary-color);
}
.s7 {
margin-top: -1px;
padding: 15px;
}
.product-details b {
margin-bottom: 10px;
}
.addCart {
background: white;
font-weight: 800;
}
.buy {
background: var(--secondary-color);
color: white;
font-weight: 800;
}
.s4 .row {
margin-left: 0;
margin-right: 0;
}
.offcanvas {
background-color: white !important;
}
@media (min-width: 768px) {
#product-info section,
.nameAndDescription{
padding: 0 10% !important;
}
.nameAndDescription {
margin: 20px 0;
}
.price-box {
width: 65%;
margin: 35px auto;
gap: 30px;
}
.custom-carousel-container {
height: auto;
}
}
.modal-body {
padding: 30px;
font-size: 1rem;
color: #333;
}
.modal-footer {
border-top: 2px solid #e0e0e0;
padding: 15px;
background-color: #F7F7F7;
display: flex;
justify-content: space-between;
border-radius: 0 0 15px 15px;
}
.modal-footer .btn {
border-radius: 20px;
padding: 10px 20px;
font-weight: bold;
transition: background-color 0.3s ease;
}
.modal-footer .btn-primary {
background-color: var(--secondary-color);
border: none;
}
.modal-footer .btn-primary:hover {
background-color: var(--accent-color);
}
.modal-footer .btn-secondary {
background-color: var(--secondary-color);
border: none;
}
.modal-footer .btn-secondary:hover {
background-color: var(--accent-color);
}