@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
margin: 0;
padding: 0;
overflow-x: hidden;
}
:root {
--primary-color: #211c84;
--secondary-color: #4d55cc;
--accent-color: #7a73d1;
}
.header {
width: 100%;
height: 50px;
background-color: white;
padding: 10px;
box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 10;
border-bottom: 1px solid var(--primary-color);
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: normal;
}
img,
.cart,
.login,
.products-layout {
cursor: pointer;
}
.header i {
font-size: 25px;
}
.header .bi-arrow-left {
color: gray;
font-size: 25px;
}
.header #product-search-name {
font-size: 18px;
font-weight: 800;
}
.header img {
width: 30px;
object-fit: contain;
}
.left-header,
.right-header {
display: flex;
gap: 5px;
align-items: center;
}
header .login {
background: none;
border-radius: 20px;
padding: 7px;
border: none;
position: relative;
}
.login-container {
position: relative;
}
.profile-tooltip {
position: absolute;
width: auto;
min-width: 200px;
height: auto;
background-color: white;
border-radius: 15px;
padding: 10px;
box-sizing: border-box;
top: 104%;
left: 100%;
transform: translateX(-100%);
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
z-index: 99 !important;
overflow: hidden;
text-overflow: ellipsis;
display: none;
flex-direction: column;
gap: 20px;
padding-top: 30px;
text-align: center;
}
.profile_name {
font-size: 18px;
font-weight: bold;
}
.prof_icon {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
font-size: 25px;
color: black;
padding: 10px;
}
.search .placeholder {
color: gray;
}
.group {
position: relative;
z-index: 2;
display: flex;
line-height: 28px;
align-items: center;
position: relative;
justify-content: center;
margin-top: 10px;
}
.placeholder {
position: absolute;
top: 50%;
left: 3.2rem;
transform: translateY(-50%);
color: grey;
font-size: 1rem;
white-space: nowrap;
user-select: none;
background: none !important;
pointer-events: none;
}
.placeholder_slideout {
animation: placeholder_slideout 0.3s forwards;
}
.placeholder_slidein {
animation: placeholder_slidein 0.3s forwards;
}
@keyframes placeholder_slideout {
from {
transform: translateY(0);
opacity: 1;
}
to {
transform: translateY(5px);
opacity: 0;
}
}
@keyframes placeholder_slidein {
from {
transform: translateY(-25px);
opacity: 0.4;
}
to {
transform: translateY(0);
opacity: 1;
}
}
.mob-searchBar {
position: sticky;
z-index: 9;
top: 70px;
}
.search_mobile {
width: 95%;
height: 50px;
line-height: 28px;
padding: 0 1rem;
padding-left: 2.5rem;
border: 1.5px solid var(--primary-color);
border-radius: 10px;
outline: none;
background-color: white;
color: #0d0c22;
transition: .3s ease;
margin: 0px 0;
font-size: 19px;
caret-color: blue;
}
.icon {
position: absolute;
left: 1rem;
width: 1.4rem;
height: 1.4rem;
fill: var(--secondary-color);
}
.sort_filter {
width: 100%;
height: 60px;
padding: 15px;
box-sizing: border-box;
border-top: 1px solid var(--accent-color);
border-bottom: 1px solid var(--accent-color);
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 30px;
margin-top: 20px;
position: relative;
background-color: white;
z-index: 2;
box-sizing: border-box;
}
.sort_filter .sort,
.sort_filter .filter {
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
padding: 15px;
}
.sort_filter i {
font-size: 18px;
color: black;
margin-right: 5px;
}
.sort_filter .vertical-line {
height: 30px;
width: 1px;
background-color: silver;
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%);
}
.sort_filter .vertical-line::before,
.sort_filter .vertical-line::after {
content: '';
position: absolute;
width: 100%;
height: 10px;
background-color: white;
}
.sort_filter .vertical-line::before {
top: -10px;
}
.sort_filter .vertical-line::after {
bottom: -10px;
}
.sort-by-mobile {
position: sticky;
bottom: 0;
width: 100%;
height: auto;
padding: 15px;
background-color: white;
display: none;
z-index: 1055;
}
.sort-by-mobile .modal-title {
text-transform: uppercase;
color: gray;
}
.sort-by-grid {
display: flex;
justify-content: space-between;
flex-direction: column;
z-index: 998;
gap: 15px;
}
.sort-by-option {
width: 100%;
height: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px 10px 10px;
}
.modal-backdrop.show {
background-color: rgba(0, 0, 0, 0.6);
}
.filter-by-mobile {
height: 100vh;
width: 100%;
background-color: white;
z-index: 2000;
position: fixed;
top: 0;
left: 0;
overflow: hidden;
display: none;
flex-direction: column;
}
.filter-by-mobile .show {
display: flex;
}
.filter-grid {
display: grid;
grid-template-columns: 40% 60%;
gap: 20px;
overflow-y: hidden;
overflow-x: hidden;
padding: 10px 20px 50px 0px;
}
.filter-header {
display: flex;
width: 100%;
height: 50px;
padding: 10px;
box-sizing: border-box;
background-color: white;
justify-content: flex-start;
align-items: center;
position: fixed;
top: 0;
left: 0;
z-index: 1060;
}
.filter-header i,
.filter-header span {
margin-right: 10px;
font-size: 20px;
}
.filter-items {
width: 100%;
padding: 25px;
display: flex;
flex-direction: column;
gap: 20px;
background-color: whitesmoke;
margin-left: 0;
margin-top: 50px;
height: 100vh;
}
.filter-items a {
text-decoration: none;
font-size: 18px;
padding: 10px 5px;
width: 100%;
}
#reset-filter {
margin: 10px;
}
.filter-value {
width: 100%;
padding: 25px;
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 40px;
max-height: 80vh;
overflow-y: auto;
}
.price,
.size,
.availability,
.discount,
.color {
width: 100%;
padding: 15px;
display: flex;
flex-direction: column;
gap: 10px;
}
.filter-footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: white;
padding: 10px 25px;
box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 1060;
}
.filter-footer-left {
font-size: 14px;
}
.filter-footer-right {
display: flex;
justify-content: flex-end;
}
.btn {
background-color: #007bff;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}
.btn:hover {
background-color: #0056b3;
}
.filter-by-mobile input[type="checkbox"] {
margin-right: 10px;
}
.filter-items a.active {
color: green;
font-weight: bold;
}
.filter-value>div {
display: none;
}
.filter-value>div:first-of-type {
display: block;
}
.filter-value input,
.filter-value label {
margin-bottom: 10px;
}
.product-display {
display: grid;
grid-template-columns: 1fr;
position: relative;
width: 100%;
height: 100vh;
}
.error-gateway {
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
gap: 5px;
}
.error-gateway a {
text-align: center;
}
.error-gateway img {
width: 200px;
}
.products-layout {
display: grid;
grid-template-columns: 40% 1fr;
width: 100%;
align-items: center;
background-color: white;
margin: 5px 0;
padding-bottom: 10px;
box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.product-image {
width: 110px;
height: auto;
margin: 5px;
}
.product-name {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-style: normal;
}
.product-subdescription {
color: gray;
margin-top: 5px;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.product-image img {
width: 100%;
height: auto;
object-fit: contain;
border-radius: 10px;
}
.product-details {
display: flex;
flex-direction: column;
margin-bottom: 10px;
justify-content: flex-start;
}
.price {
display: flex;
white-space: nowrap;
flex-direction: row;
font-size: 19px;
margin: 5px 0;
padding: 0;
font-family: "Roboti", sans-serif;
font-weight: 700;
font-style: normal;
}
.discount-box {
font-weight: 500;
color: red;
}
.actual-price {
text-decoration: line-through;
color: grey;
}
.save-amount {
font-size: 18px;
font-weight: bold;
}
.discounted-price {
font-weight: 600;
color: seagreen;
}
.product-characteristics {
grid-column: 1 / 3;
grid-row: 2 / 3;
display: flex;
flex-wrap: wrap;
gap: 10px;
width: 100%;
padding: 0 10px;
background-color: white;
box-sizing: border-box;
}
.characteristic {
font-size: 0.9rem;
background-color: #fafafa;
padding: 5px;
border: 0.6px solid silver;
border-radius: 5px;
}
.heart-icon {
font-size: 1rem;
color: gray;
cursor: pointer;
transition: color 0.3s ease;
margin-left: 79%;
text-decoration: none;
padding: 5px;
box-sizing: border-box;
width: 22px;
}
.heart-icon.favorited {
color: red;
animation: jelly 0.2s ease-out forwards;
box-sizing: border-box;
}
@keyframes jelly {
from {
transform: scale(1.2);
}
to {
transform: scale(1.1);
}
}
.cart {
position: relative;
}
.cart-badge {
position: absolute;
top: -2px;
right: -5px;
width: 15px;
height: 15px;
border-radius: 50%;
background-color: red;
color: white;
font-size: 0.8rem;
display: flex;
justify-content: center;
align-items: center;
font-style: normal;
}
#search-suggestions {
position: absolute;
top: 50px;
left: 0;
right: 0;
background-color: white;
border: 1px solid #ddd;
border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
max-height: 300px;
overflow-y: auto;
display: none;
z-index: 9999;
}
.modal:not(.show) {
 visibility: hidden;
 opacity: 0;
}
#search-suggestions.active {
display: block;
}
.suggestion-item {
display: flex;
align-items: center;
padding: 10px;
cursor: pointer;
transition: background-color 0.2s;
}
.suggestion-item:hover {
background-color: #f0f0f0;
}
.suggestion-item img {
width: 40px;
height: 40px;
margin-right: 10px;
object-fit: cover;
border-radius: 5px;
}
.suggestion-item span {
font-size: 14px;
color: #333;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.addToCart {
width: 85%;
height: 45px;
margin: 25px auto;
}
.addToCart button {
width: 100%;
font-weight: 700;
color: black;
padding: 5px;
background: white;
border-radius: 5px;
border: 1px solid var(--primary-color);
}
.addToCart i {
margin-right: 10px;
font-size: 20px;
color: var(--secondary-color);
}
.addToCart button:hover {
background: var(--secondary-color);
color: white;
}
.addToCart button:hover i {
color: white;
}
.header .bi-cart4 {
position: relative;
font-size: 1.4rem;
color: var(--primary-color);
}
@media (min-width: 768px) and (max-width: 1024px) {
.icon {
margin-left: 9px;
}
.product {
height: 350px;
max-height: 350px;
}
.product-display {
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 15px;
}
}
@media (min-width: 1025px) {
.icon {
margin-left: 30px;
}
.placeholder {
margin-left: 45px;
}
.product-display {
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 15px;
}
.modal-dialog {
max-width: 50% !important;
margin: auto;
}
.filter-footer {
width: 50%;
margin: auto;
}
.filter-header {
width: 50%;
position: sticky;
left: 20%;
transform: translateX(-20%);
}
#filterModal {
width: 50%;
position: fixed;
left: 50%;
transform: translate(-50%);
}
}
.modal-body {
padding: 30px;
font-size: 1rem;
color: #333;
}
.modal-footer {
border-top: 2px solid #e0e0e0;
padding: 15px;
background-color: #F7F7F7;
display: flex;
justify-content: space-between;
border-radius: 0 0 15px 15px;
}
.modal-footer .btn {
border-radius: 20px;
padding: 10px 20px;
font-weight: bold;
transition: background-color 0.3s ease;
}
.modal-footer .btn-primary {
background-color: var(--secondary-color);
border: none;
}
.modal-footer .btn-primary:hover {
background-color: var(--accent-color);
}
.modal-footer .btn-secondary {
background-color: var(--secondary-color);
border: none;
}
.modal-footer .btn-secondary:hover {
background-color: var(--accent-color);
}