@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
margin: 0;
padding: 0;
background-color: white;
}
:root {
--primary-color: #211c84;
--secondary-color: #4d55cc;
--accent-color: #7a73d1;
}
.header {
width: 100%;
height: 50px;
background-color: white;
padding: 10px;
box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 10;
border-bottom: 1px solid silver;
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: normal;
}
.modal:not(.show) {
 visibility: hidden;
 opacity: 0;
}
img,
.cart,
.login,
.orders-div {
cursor: pointer;
}
.order-status.statusOk {
color: green;
}
.order-status.statusNo {
color: red;
}
.header i {
font-size: 25px;
color: var(--primary-color);
}
.header .bi-arrow-left {
color: gray;
font-size: 25px;
}
.header b {
margin: 0;
font-weight: 900;
font-size: 19px;
margin-left: -10px;
color: var(--primary-color);
}
.left-header img {
width: 30px;
object-fit: contain;
}
.left-header,
.right-header {
display: flex;
gap: 15px;
align-items: center;
}
header .login {
background: none;
border-radius: 20px;
padding: 7px;
border: none;
position: relative;
}
.login-container {
position: relative;
}
.profile-tooltip {
position: absolute;
width: auto;
min-width: 200px;
height: auto;
background-color: white;
border-radius: 15px;
padding: 10px;
box-sizing: border-box;
top: 104%;
left: 100%;
transform: translateX(-100%);
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
z-index: 99 !important;
overflow: hidden;
text-overflow: ellipsis;
display: none;
flex-direction: column;
gap: 20px;
padding-top: 30px;
text-align: center;
}
.profile_name {
font-size: 18px;
font-weight: bold;
}
.prof_icon {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
font-size: 25px;
color: black;
padding: 10px;
}
.group {
display: flex;
align-items: center;
position: relative;
width: 100%;
border-bottom: 1px solid silver;
margin: auto;
justify-content: center;
}
.input {
width: 90%;
margin: 10px 0;
height: 40px;
line-height: 28px;
padding: 0 1rem;
padding-left: 2.5rem;
border: 1px solid var(--primary-color);
border-radius: 8px;
outline: none;
background-color: white;
color: #0d0c22;
transition: .3s ease;
}
.icon {
position: absolute;
left: 25px;
width: 20px;
height: 20px;
fill: #777;
}
.orders-div {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
max-width: 100%;
box-sizing: border-box;
padding: 20px;
background-color: #f9f9f9;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
margin-bottom: 1px;
width: 100%;
font-family: "Roboto", sans-serif;
font-weight: 600;
font-style: normal;
}
.orders-div .img {
width: 30%;
max-width: 200px;
position: relative;
}
.orders-div .img .overlay {
width: 100%;
height: 100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 30px;
background-color: rgba(0, 0, 0, 0.4);
display: flex;
justify-content: center;
align-items: center;
}
.orders-div .img img {
width: 100%;
height: auto;
border-radius: 8px;
object-fit: cover;
}
.orders-div .order-details {
width: 60%;
padding-left: 20px;
overflow: hidden;
display: flex;
flex-direction: column;
}
.orders-div .order-details .order-date {
font-size: 14px;
color: #888;
font-weight: bold;
margin-bottom: 5px;
}
.orders-div .order-details .order-product-name {
font-size: 16px;
color: #333;
font-weight: 500;
line-height: 1.4;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.orders-div .chevron {
width: 10%;
display: flex;
justify-content: center;
align-items: center;
}
.orders-div .chevron i {
font-size: 24px;
color: #5c5c5c;
cursor: pointer;
transition: color 0.3s ease;
}
.orders-div .chevron i:hover {
color: #333;
}
#loader-container {
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.1);
display:none;
justify-content: center;
align-items: center;
z-index: 999;
position: fixed;
}
.loader {
width:50px;
aspect-ratio: 1;
display: grid;
z-index: 1000;
}
.loader:before,
.loader:after {
content: "";
grid-area: 1/1;
--c:#0000 calc(100%/3),#4caf50 0 calc(2*100%/3),#0000 0;
--c1:linear-gradient(90deg,var(--c));
--c2:linear-gradient( 0deg,var(--c));
background: var(--c1),var(--c2),var(--c1),var(--c2);
background-size: 300% 4px,4px 300%;
background-repeat: no-repeat;
animation: l11 1s infinite linear;
}
.loader:after {
margin: 10px;
transform: scaleX(-1);
animation-delay: -.25s;
}
@keyframes l11 {
0% {
background-position: 50% 0, 100% 100%, 0 100%, 0 0
}
25% {
background-position: 0 0, 100% 50%, 0 100%, 0 0
}
50% {
background-position: 0 0, 100% 0, 50% 100%, 0 0
}
75% {
background-position: 0 0, 100% 0, 100% 100%, 0 50%
}
75.01% {
background-position: 100% 0, 100% 0, 100% 100%, 0 50%
}
100% {
background-position: 50% 0, 100% 0, 100% 100%, 0 100%
}
}
.cart {
position: relative;
font-size: 1.4rem;
}
.cart-badge {
position: absolute;
top: -2px;
right: -5px;
width: 15px;
height: 15px;
border-radius: 50%;
background-color: red;
color: white;
font-size: 0.8rem;
display: flex;
justify-content: center;
align-items: center;
font-style: normal;
}
footer {
width: 100%;
height: 50px;
padding: 15px;
text-align: center;
color: grey;
border-top: 1px solid silver;
border-bottom: 1px solid silver;
}
#searchResults {
width: 95%;
margin: 20px auto;
display: none;
padding: 0;
position: absolute;
height: auto;
top: 100%;
background-color: whitesmoke;
box-sizing: border-box;
border: 1px solid silver;
border-radius: 5px;
z-index: 20;
}
.search-div {
width: 100%;
padding: 5px;
display: flex;
flex-direction: column;
}
.product-container {
display: grid;
grid-template-columns: 20% 80%;
width: 100%;
height: auto;
padding: 0px;
gap: 10px;
}
.search-img img {
width: 100%;
height: auto;
object-fit: contain;
border-radius: 5px;
}
.search-name p {
margin: 0;
font-size: 14px;
color: #333;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
small {
font-size: 10px;
color: grey;
}
.order-section {
position: relative;
width: 100%;
height: 100vh;
}
.error-gateway {
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
gap: 5px;
}
.error-gateway a {
text-align: center;
}
.error-gateway img {
width: 200px;
}
.order-found {
text-align: center;
}
@media (min-width: 1025px) {
.group {
width: 50%;
margin: auto;
}
.orders-div {
width: 70%;
margin: auto;
}
.orders-div .img {
width: 18%;
object-fit: cover;
}
.orders-div p,
.orders-div b {
font-size: 22px;
}
.icon {
left: 40px;
}
}
.modal-body {
padding: 30px;
font-size: 1rem;
color: #333;
}
.modal-footer {
border-top: 2px solid #e0e0e0;
padding: 15px;
background-color: #F7F7F7;
display: flex;
justify-content: space-between;
border-radius: 0 0 15px 15px;
}
.modal-footer .btn {
border-radius: 20px;
padding: 10px 20px;
font-weight: bold;
transition: background-color 0.3s ease;
}
.modal-footer .btn-primary {
background-color: var(--secondary-color);
border: none;
}
.modal-footer .btn-primary:hover {
background-color: var(--accent-color);
}
.modal-footer .btn-secondary {
background-color: var(--secondary-color);
border: none;
}
.modal-footer .btn-secondary:hover {
background-color: var(--accent-color);
}