@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
margin: 0;
padding: 0;
background-color: #f2f2f2;
}
:root {
--primary-color: #211c84;
--secondary-color: #4d55cc;
--accent-color: #7a73d1;
}
.header {
width: 100%;
height: 50px;
background-color: white;
padding: 10px;
box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 10;
border-bottom: 1px solid silver;
}
img,
.cart,
.login {
cursor: pointer;
}
.header i {
font-size: 25px;
color: var(--primary-color);
}
.header .bi-arrow-left {
color: gray;
font-size: 25px;
}
.header b {
font-size: 18px;
font-weight: 900;
color: var(--primary-color);
}
.modal:not(.show) {
 visibility: hidden;
 opacity: 0;
}
.header img {
width: 30px;
object-fit: contain;
}
.left-header,
.right-header {
display: flex;
gap: 5px;
align-items: center;
}
header .login {
background: none;
border-radius: 20px;
padding: 7px;
border: none;
position: relative;
}
.login-container {
position: relative;
}
.profile-tooltip {
position: absolute;
width: auto;
min-width: 200px;
height: auto;
background-color: white;
border-radius: 15px;
padding: 10px;
box-sizing: border-box;
top: 104%;
left: 100%;
transform: translateX(-100%);
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
z-index: 99 !important;
overflow: hidden;
text-overflow: ellipsis;
display: none;
flex-direction: column;
gap: 20px;
padding-top: 30px;
text-align: center;
}
.profile_name {
font-size: 18px;
font-weight: bold;
}
.prof_icon {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
font-size: 25px;
color: black;
padding: 10px;
}
.cart {
position: relative;
}
.cart-badge {
position: absolute;
top: -2px;
right: -5px;
width: 15px;
height: 15px;
border-radius: 50%;
background-color: red;
color: white;
font-size: 0.8rem;
display: flex;
justify-content: center;
align-items: center;
font-style: normal;
}
hr {
margin-top: 20px;
border: 1px solid #ddd;
}
#order-id {
width: 100%;
height: 40px;
padding: 10px;
color: var(--secondary-color);
background-color: white;
box-sizing: border-box;
margin: 4px 0;
}
.order-product {
display: grid;
grid-template-columns: 70% 30%;
gap: 20px;
padding: 15px;
box-sizing: border-box;
}
.product-details {
display: flex;
gap: 20px;
padding: 15px;
background-color: white;
}
section {
background-color: white;
}
.product-details .name {
flex: 1;
}
.product-details .image {
width: 80px;
margin: 0 20px;
}
.product-details .image img {
width: 100%;
height: auto;
border-radius: 8px;
}
.order-status {
display: grid;
grid-template-columns: 20% 80%;
margin: 5px 0;
}
.status-left {
display: flex;
flex-direction: column;
align-items: center;
}
.status-circle {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.circle {
width: 20px;
height: 20px;
border-radius: 50%;
background-color: green;
margin: 10px 0;
display: flex;
align-items: center;
justify-content: center;
}
.circle i {
color: white;
}
.line {
width: 2px;
height: 40px;
background-color: green;
}
.status-right .status-text p {
font-size: 16px;
color: #333;
margin: 10px 0;
}
.status-text {
display: flex;
gap: 34px;
flex-direction: column;
}
.status-text p {
font-size: 15px;
}
.status-text p.active {
color: black;
}
.dispatch-time,
.deliver-time{
color: grey;
font-size: 13px;
}
.status-text p.inactive {
color: darkgray;
}
.circle.active {
background-color: green;
}
.circle.inactive {
background-color: grey;
}
.line.active {
background-color: green;
}
.line.inactive {
background-color: grey;
}
.order-time {
color: grey;
font-size: 13px;
}
.chat-with {
text-align: center;
padding: 8px;
background-color: white;
margin: 5px 0;
width: 100%;
}
.chat-left span {
font-size: 18px;
margin-left: 5px;
}
.download-invoice {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
margin: 5px 0;
}
.download-invoice span {
margin: 0 !important;
padding: 0 !important;
}
.invoice-left i {
font-size: 24px;
color: #007bff;
margin-right: 10px;
}
.invoice-right i {
font-size: 18px;
color: #333;
margin-left: 7px;
}
.address {
font-size: 16px;
color: grey;
padding: 10px;
margin: 5px 0;
width: 100%;
}
address {
font-style: normal;
color: #555;
}
.price-details {
padding: 15px;
width: 100%;
}
.price-details .section-title {
font-size: 18px;
font-weight: bold;
color: #333;
}
.price-details hr {
margin: 10px 0;
}
.price-grid {
display: flex;
justify-content: space-between;
}
.price-left,
.price-right {
width: 45%;
}
.price-right {
text-align: right;
}
.price-left p,
.price-right p {
margin: 5px 0;
}
.discount-amount {
color: red;
}
.actual-amount {
color: grey;
}
.dashed-border {
border-top: 1px dashed #ccc;
margin: 5px 0;
}
.total-label {
font-weight: bold;
}
.total-amount {
font-size: 18px;
font-weight: bold;
color: green;
}
#loader-container {
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.1);
display:none;
justify-content: center;
align-items: center;
z-index: 999;
position: fixed;
}
.loader {
width:50px;
aspect-ratio: 1;
display: grid;
z-index: 1000;
}
.loader:before,
.loader:after {
content: "";
grid-area: 1/1;
--c:#0000 calc(100%/3),#4caf50 0 calc(2*100%/3),#0000 0;
--c1:linear-gradient(90deg,var(--c));
--c2:linear-gradient( 0deg,var(--c));
background: var(--c1),var(--c2),var(--c1),var(--c2);
background-size: 300% 4px,4px 300%;
background-repeat: no-repeat;
animation: l11 1s infinite linear;
}
.loader:after {
margin: 10px;
transform: scaleX(-1);
animation-delay: -0.25s;
}
@keyframes l11 {
0% {background-position: 50% 0, 100% 100%, 0 100%, 0 0;}
25% {background-position: 0 0, 100% 50%, 0 100%, 0 0;}
50% {background-position: 0 0, 100% 0, 50% 100%, 0 0;}
75% {background-position: 0 0, 100% 0, 100% 100%, 0 50%;}
75.01% {background-position: 100% 0, 100% 0, 100% 100%, 0 50%;}
100% {background-position: 50% 0, 100% 0, 100% 100%, 0 100%;}
}
.cancellation {
padding: 20px;
}
.cancellation p{
color: var(--secondary-color);
font-size: 15px;
}
.cancellation button {
background-color: var(--primary-color);
color: #fff;
}
.st {
padding: 10px;
}
.st b{
font-size: 18px;
color: var(--primary-color);
}
.cancellation button:hover {
background-color: var(--accent-color);
}
@media (min-width: 768px) {
#main-container {
padding: 0 5%;
}
.price-details {
padding: 0 25%;
}
.order-status {
grid-template-columns: 10% 1fr;
}
}
.modal-body {
padding: 30px;
font-size: 1rem;
color: #333;
}
.modal-footer {
border-top: 2px solid #e0e0e0;
padding: 15px;
background-color: #F7F7F7;
display: flex;
justify-content: space-between;
border-radius: 0 0 15px 15px;
}
.modal-footer .btn {
border-radius: 20px;
padding: 10px 20px;
font-weight: bold;
transition: background-color 0.3s ease;
}
.modal-footer .btn-primary {
background-color: var(--secondary-color);
border: none;
}
.modal-footer .btn-primary:hover {
background-color: var(--accent-color);
}
.modal-footer .btn-secondary {
background-color: var(--secondary-color);
border: none;
}
.modal-footer .btn-secondary:hover {
background-color: var(--accent-color);
}